body {
  background-color: #e2dbdb;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-size: 17px;
  font-stretch: expanded;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 1px;
  margin-top: -7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
  border-radius: 7px;
}

#content{
  text-align: justify;
  margin: auto ;
  padding: 10%;
  padding-top: 25px;
  padding-bottom: 25px;
}

#content hr {
  border: 1px;
  border-color: black;
}

.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099FF;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; 
}

#imageHeader{
  box-shadow: 0px 0px 0px #666;
}

#imageRest{
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #666;
  width: 80%;
}

#imageSaveti{
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #666;
  float: center;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#imageVrste{
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #666;
  float: center;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-footer{
  margin-top: -5px;
  background-color: #292929;
  color: white;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.footer-copyright{
  background-color: #191919;
  text-align: center;
  padding: 5px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

#Testdugme {
  margin: 5px;
}
